/*DOCUMENTO CSS*/

*{padding: 0;
    margin: 0;}
    
    body {background-color: #82b9d6;}
    h1 {text-align: center;
    padding: 16px 0px;
    text-transform: uppercase;
    text-decoration: solid;
    font-size: 3em;
    height: 30px;
    line-height: 140%;
    color: whitesmoke;
    text-shadow: 2px 2px 4px black;}

    .principal{width: 80%; margin: auto;}

    .principal p{margin: 16px 0px;}

     main p{max-width: 900px;
    margin: 20px auto;
  background-color: #619de7;padding: 10px;
box-shadow: 0 0 10px rgb(background-color) rgb(70, 132, 187);}

    h2 {text-align: left;
        padding: 16px 0px;
        text-transform: uppercase;
        text-decoration: solid;
        font-size: 3em;
        height: 90px;
        line-height: 140%;
        color: rgb(14, 64, 117);
        text-shadow: 2px 2px 4px rgb(232, 238, 240);}

        .img-paris {
            width: 800px; /* Ancho de 500 píxeles */
            height: auto; /* Mantiene la proporción */
            max-width: 900px;
    margin: 20px auto;
  background-color: #7ea1cb;padding: 20px;
box-shadow: 0 0 10px rgb(background-color) rgb(70, 132, 187);}
        
        
        .img-italia {
            width: 800px; /* Ancho de 500 píxeles */
            height: auto; /* Mantiene la proporción */
            max-width: 900px;
            margin: 20px auto;
          background-color: #7ea1cb;padding: 20px;
        box-shadow: 0 0 10px rgb(background-color) rgb(70, 132, 187);}  
          
        .img-brasil {
            width: 800px; /* Ancho de 500 píxeles */
            height: auto; /* Mantiene la proporción */
            align-items: center;  max-width: 900px;
            margin: 20px auto;
          background-color: #7ea1cb;padding: 20px;
        box-shadow: 0 0 10px rgb(background-color) rgb(70, 132, 187);
          }        
    
          p {font-family: "Mulish", sans-serif;
        text-align: center;}

        .contenedor-flex {
            display: flex;
            justify-content: center; /* Centrado horizontal */
            align-items: center;    /* Centrado vertical */
            height: 100vh;          /* Asegura que el contenedor tenga altura para centrar verticalmente */
          }
      